body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    margin-right: 0 !important;
    margin: 0;
    background-image: url("mazui_bg.png");
}

.bg {
	height: 100%;
  background: rgba(255,255,255,0.5);
}

.site-name {
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
	color: #32CDA6;
	margin-bottom: 0;
}

.subname {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	color: #FF3F6F;
}

.text-en {
	margin-bottom: 0;
	font-size: 17px;
	color: #808080;
}

.text-ja {
	margin-bottom: 0;
	font-size: 15px;
	color: #808080;
}

.textarea {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	padding-left: 30px;
	font-family:'Permanent Marker', cursive;
	font-size: 22px;
	color: #FF3F6F;
}
