body, html {
  background-image: url("../imgs/mazui_bg.png");
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  height: 100%;
  margin: 0;
  margin-right: 0 !important;
  position: relative;
  /*overflow: hidden;*/ /*画面スクロールできなくするコマンド*/
}

.bg {
  background: rgba(255,255,255,0.5);
	height: 100%;
}

.site-name {
	color: #32CDA6;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
	margin-bottom: 0;
}

.subname {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	color: #FF3F6F;
}

.text-en {
	color: #808080;
	font-size: 17px;
	margin-bottom: 0;
}

.text-ja {
	color: #7F7F7F;
	font-size: 15px;
	margin-bottom: 0;
}

.textarea {
	margin-bottom: 10px;
}

a {
	color: #FF3F6F;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	padding: 25px;
}
