.homelogo{
  margin-left: 100px;
  margin-right: 100px;
  width: 180px;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-greeting {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
}

.card-signin .card-body {
  padding: 1.5rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 25px;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: 40px;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #999999;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  border-left-width: 10px;
  font-family: 'Amatic SC', cursive;
  font-size:22px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.form-check-label {
   font-family: 'Amatic SC', cursive;
   font-size: 20px;
}

/*signin-button*/
/* 通常のボタン色 */
.btn-primary,
.btn-primary.disabled, .btn-primary:disabled {
  color: #666666;
  background-color: #32CDA6;
  border-color: #32CDA6;
  font-family: 'Amatic SC', cursive;
}
/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定）*/
.btn-primary:hover {
  color: #666666;
  background-color: #FFF321;
  border-color: #FFF321;
  font-family: 'Amatic SC', cursive;
}

/*SNSボタン*/

.sns-coment {
  color: #999999;
  font-family: 'Amatic SC', cursive;
  font-size: 22px;
}


.sns li {
  display: inline-block;
  width:100px;
  height:100px;
  line-height: 100px;
  padding-right: 30px;
}

.fa-facebook-square {
  color: #0F80FF;
}

.fa-twitter-square {
  color: #66CCFF;
}

.fa-google-plus-square {
  color: red;
}

.signup_text {
  font-family: 'Amatic SC', cursive;
  font-size: 22px;
  color: #999999;
  border-bottom: 1px solid #999999;
}

/*Forgot Your Password?*/
.btn-link {
  font-family: 'Amatic SC', cursive;
  font-size: 22px;
  color: #FF3F6F;
}
