/*homelogo*/
.navbar-brand {
  padding-left: 10px;
}

nav img {
  width: 180px;
}

.mypage{
  list-style-type: none;
  display: inline;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

.sidebar {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 20px;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*サイドバー文字変更*/
.nav-link {
  color: #666666;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

.title-mypage {
  color: #666666;
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}



/*
 * Dashboard
 */

 /* Pictures */
.pictures {
  padding-bottom: 3rem;
  width: 970px;
  margin: 0;

}

main img {
  padding: 1.5rem;
  border: 1px solid #CCCCCC;
}